# Pandas Series.to_frame() 関数
## https://www.delftstack.com/ja/api/python-pandas/pandas-series-series.to_frame-function/

In [5]:
import pandas as pd

series = pd.Series([ 'Rose', 'Jasmine', 'Lili', 'Tulip', 'Hibiscus', 'Sun Flower', 'Orchid', 'Carnation','Irises', 'Gardenias'])
print("The Original Series is: \n")
display(series)

The Original Series is:

0          Rose
1       Jasmine
2          Lili
3         Tulip
4      Hibiscus
5    Sun Flower
6        Orchid
7     Carnation
8        Irises
9     Gardenias
dtype: object

In [6]:

dataframe = series.to_frame()
print("The Dataframe is: \n")
display(dataframe)

The Dataframe is:

            0
0        Rose
1     Jasmine
2        Lili
3       Tulip
4    Hibiscus
5  Sun Flower
6      Orchid
7   Carnation
8      Irises
9   Gardenias