# Pandasでダミー変数を作成するget_dummies関数の使い方
## https://deepage.net/features/pandas-get-dummies.html

In [13]:
import pandas as pd
sr = pd.Series(['A','A','B','A','C'])
display(sr)

0    A
1    A
2    B
3    A
4    C
dtype: object

In [12]:
display(pd.get_dummies(sr)) # ダミー変数を作成

   A  B  C
0  1  0  0
1  1  0  0
2  0  1  0
3  1  0  0
4  0  0  1