# reset_index
### http://ailaby.com/reset_index/

#### 「index」とは、list型変数のある要素がlistの中で何番目かを示すもの

In [18]:
from pandas import DataFrame
 
df = DataFrame({'X':['A',   'B',   'C',   'D',   'E'],
              'Y':['AA',  'BB',  'CC',  'DD',  'EE'],
              'Z':['AAA', 'BBB', 'CCC', 'DDD', 'EEE']})

In [19]:
df

   X   Y    Z
0  A  AA  AAA
1  B  BB  BBB
2  C  CC  CCC
3  D  DD  DDD
4  E  EE  EEE

In [20]:
df.drop([0,2], inplace=True)

In [21]:
df

   X   Y    Z
1  B  BB  BBB
3  D  DD  DDD
4  E  EE  EEE

In [24]:
df.reset_index(drop=True)

   X   Y    Z
0  B  BB  BBB
1  D  DD  DDD
2  E  EE  EEE

In [25]:
df.reset_index(drop=False)

   index  X   Y    Z
0      1  B  BB  BBB
1      3  D  DD  DDD
2      4  E  EE  EEE