# Pandas DataFrame は isin 関数
## https://www.delftstack.com/ja/api/python-pandas/pandas-dataframe-isin-function/

In [3]:
import pandas as pd

students_df = pd.DataFrame({
    'Name': ["Jonathan", "Will", "Michael", "Liva", "Sia", "Alice"],
    'Age': [10, 11, 9, 10, 10, 11],
    'Group': ["A", "B", "A", "A", "B", "B"],
    'GPA': [3.2, 3.5, 4.0, 2.9, 4.0, 3.6]

})
print("The initial DataFrame is:")
print(students_df, "\n")

The initial DataFrame is:
       Name  Age Group  GPA
0  Jonathan   10     A  3.2
1      Will   11     B  3.5
2   Michael    9     A  4.0
3      Liva   10     A  2.9
4       Sia   10     B  4.0
5     Alice   11     B  3.6

In [10]:
boolean_indicies = students_df["Group"].isin(["A"])
filtered_df = students_df[boolean_indicies]


print('\n----------1------------\n')
display(students_df[boolean_indicies])
print('\n----------2------------\n')
display(students_df[boolean_indicies].index)
print('\n----------3------------\n')
display(boolean_indicies)
print('\n----------4------------\n')
print("The DataFrame of students from Group A is:")
print(filtered_df, "\n")

----------1------------

       Name  Age Group  GPA
0  Jonathan   10     A  3.2
2   Michael    9     A  4.0
3      Liva   10     A  2.9

----------2------------

Int64Index([0, 2, 3], dtype='int64')

----------3------------

0     True
1    False
2     True
3     True
4    False
5    False
Name: Group, dtype: bool

----------4------------

The DataFrame of students from Group A is:
       Name  Age Group  GPA
0  Jonathan   10     A  3.2
2   Michael    9     A  4.0
3      Liva   10     A  2.9