## NumPyで条件に応じた処理を行うnp.whereの使い方
### https://note.nkmk.me/python-numpy-where/

In [7]:
import numpy as np
import os

a = np.arange(9).reshape((3, 3))
print(a)
# [[0 1 2]
#  [3 4 5]
#  [6 7 8]]

[[0 1 2]
 [3 4 5]
 [6 7 8]]

In [3]:
os.getcwd()

'/Users/motegihayato/Sync/hayato.dailylife@gmail.com/data_science/jupyterlab/test/Numpy/numpy.where'

In [9]:
np.where(a < 4, -1, 9999)
# [[ -1  -1  -1]
#  [ -1 100 100]
#  [100 100 100]]

array([[  -1,   -1,   -1],
       [  -1, 9999, 9999],
       [9999, 9999, 9999]])

In [11]:
np.where(a < 4, True, False)
# [[ True  True  True]
#  [ True False False]
#  [False False False]]

array([[ True,  True,  True],
       [ True, False, False],
       [False, False, False]])

In [13]:
np.where(a < 4, np.nan, a)

array([[nan, nan, nan],
       [nan,  4.,  5.],
       [ 6.,  7.,  8.]])