### pandasで要素、行、列に関数を適用するmap, applymap, apply
#### https://note.nkmk.me/python-pandas-map-applymap-apply/

In [4]:
import pandas as pd
import numpy as np

df = pd.read_csv('sample_header.csv')
print(df)
#     a   b   c   d
# 0  11  12  13  14
# 1  21  22  23  24
# 2  31  32  33  34

    a   b   c   d
0  11  12  13  14
1  21  22  23  24
2  31  32  33  34

## Seriesの各要素に関数を適用: map(), apply()

In [11]:
s = df['a']
print(s)
# 0    11
# 1    21
# 2    31
# Name: a, dtype: int64

0    11
1    21
2    31
Name: a, dtype: int64

In [21]:
f_brackets = lambda x: '[{}]'.format(x)

display(f_brackets)

display(s.map(f_brackets))

# 0    [11]
# 1    [21]
# 2    [31]
# Name: a, dtype: object

0    [11]
1    [21]
2    [31]
Name: a, dtype: object

In [8]:

def f_str(x):
    return str(x).replace('1', 'One').replace('2', 'Two').replace('3', 'Three').replace('4', 'Four')

print(s.map(f_str))
# 0      OneOne
# 1      TwoOne
# 2    ThreeOne
# Name: a, dtype: object

0      OneOne
1      TwoOne
2    ThreeOne
Name: a, dtype: object