### pandas.Seriesのmapメソッドで列の要素を置換
#### https://note.nkmk.me/python-pandas-map-replace/

In [3]:
import pandas as pd

df = pd.read_csv('/Users/motegihayato/Sync/hayato.dailylife@gmail.com/data_science/jupyterlab/test/map/sample_pandas_normal.csv')

print(df)
#       name  age state  point
# 0    Alice   24    NY     64
# 1      Bob   42    CA     92
# 2  Charlie   18    CA     70
# 3     Dave   68    TX     70
# 4    Ellen   24    CA     88
# 5    Frank   30    NY     57

s = df['state']
print(s)
# 0    NY
# 1    CA
# 2    CA
# 3    TX
# 4    CA
# 5    NY
# Name: state, dtype: object

      name  age state  point
0    Alice   24    NY  NY,64
1      Bob   42    CA     92
2  Charlie   18    CA     70
3     Dave   68    TX     70
4    Ellen   24    CA     88
5    Frank   30    NY     57
0    NY
1    CA
2    CA
3    TX
4    CA
5    NY
Name: state, dtype: object

In [4]:
s_map_all = s.map({'NY': 'NewYork', 'CA': 'California', 'TX': 'Texas'})
print(s_map_all)
# 0       NewYork
# 1    California
# 2    California
# 3         Texas
# 4    California
# 5       NewYork
# Name: state, dtype: object

0       NewYork
1    California
2    California
3         Texas
4    California
5       NewYork
Name: state, dtype: object