# concat関数の使い方
## https://deepage.net/features/pandas-concat.html

In [1]:
import pandas as pd

#元はpandasだがpdという名前を付ける

In [2]:
df1 = pd.DataFrame({'A' : [ 'A0', 'A1', 'A2', 'A3'],
                    'B' : [ 'B0', 'B1', 'B2', 'B3']},
                    index = [0, 1, 2, 3])

In [3]:
print(df1)
print("\n- - - - - - - - - - - - - - - - - -\n")
df1.info()

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

- - - - - - - - - - - - - - - - - -

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      object
 1   B       4 non-null      object
dtypes: object(2)
memory usage: 96.0+ bytes

In [5]:
df2 = pd.DataFrame({'A' : ['A4','A5', 'A6'],
                    'C' : ['C4','C5', 'C6']},
                     index = [4,5,6])

In [6]:
print(df2)
print("\n- - - - - - - - - - - - - - - - - -\n")
df2.info()

display(df2)

    A   C
4  A4  C4
5  A5  C5
6  A6  C6

- - - - - - - - - - - - - - - - - -

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 4 to 6
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      object
 1   C       3 non-null      object
dtypes: object(2)
memory usage: 72.0+ bytes

    A   C
4  A4  C4
5  A5  C5
6  A6  C6

# ここで結合

In [17]:
pd.concat([df1, df2])

    A    B    C
0  A0   B0  NaN
1  A1   B1  NaN
2  A2   B2  NaN
3  A3   B3  NaN
4  A4  NaN   C4
5  A5  NaN   C5
6  A6  NaN   C6